body {
    background-image: url("img/fastfood.jpg");
}

fieldset {
    width: 300px;
}

.position {
    position: relative;
}

form {
    position: absolute;
    top: 50px;
    left: 500px;
    color: white;

}
button{
    position: absolute;
    top: 500px;
    left: 600px;
    width: 150px;
    height: 50px;
    background-color: yellow;
}